*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    background-color:rgb(177, 169, 169);
}

footer, header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 1em;
    background-color: blue;
    color: white;
}

form{
    font-size: 1.5em;
    line-height: 1.5em;
}

input[type="button"]{
    margin-top: 1em;
    padding: 10px;
    font-size: 1em;
    font-weight: bold;
    background-color: black;
    color: white;
}

main{
    display: flex;
    align-items: center;
    height: 40vh;
    padding-left: 5em;
}

#btn-question{
    display: none;
}

#btn-start{
    padding: 1.5em 2em;
    margin-bottom: 3em;
}

.wrapper{
    width: 60%;
    margin: 10em auto;
    border-radius: 10px;
}